html,
body {
    margin: 0;
    height: 100%;
    background-color: #F6F1F1;
    background: url("../Imagenes/Pattern.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
}

#pie {
    font-size: 15px;
    position: absolute;
    top: 3500px;
    padding-bottom: 15px;
    color: #146C94;
    padding-left: 15px;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    color: #146C94;
    height: 5vw;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F1F1;
    opacity: 0.8;
}

.opcionMenu,
.datoPie {
    margin: 0.5em;
}

#menu {
    font-size: 1.5vw;
    text-align: right;
    font-weight: bold;
}

a:link {
    color: #146C94;
}

a:visited {
    color: #146C94;
}

a:hover {
    color: #AFD3E2;
}

a:active {
    color: #19A7CE;
}

a {
    text-decoration: none;
}

#info {
    height: 3300px;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -350px;
    background-color: rgba(246, 241, 241,.6);
    padding: 0 25px 0 25px;
    border-radius: 10px;
    border: 5px #dfd5d5 double;
    color: #146C94;
}

#titulo {
    text-align: center;
    width: 500px;
    font-size: 50px;
    position: relative;
    left: 50%;
    margin-left: -250px;
}

p,
li {
    font-size: 20px;
    text-align: justify;
}

section {
    margin: 0 10px 0 10px;
}

h4 {
    font-size: 25px;
}

.enlacesCookies {
    text-decoration: underline;
}

.enlaces {
    margin-top: 5px;
}

#subtitulo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid #146C94 3px;
}

#carruselFotos {
    height: 400px;
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
}

#carruselFotos img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
}

#carruselArg {
    height: 550px;
    width: 90%;
    position: relative;
    left: 50%;
    margin-left: -360px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#carruselArg img {
    width: 100%;
    height: auto;
}

#contenedorCarruselArg {
    border: 2px #dfd5d5 double;
    border-radius: 10px;
    height: 700px;
    width: 800px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -400px;
}

button {
    padding: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    width: 100px;
    height: 100px;
    margin-top: -5px;
    border: transparent;
    cursor:pointer;
}

#botonAnterior {
    background-image: url("../Imagenes/FlechaDerecha.png.jpg");
    transform: rotate(180deg);
}

#botonSiguiente {
    background-image: url("../Imagenes/FlechaDerecha.png.jpg");
}

.cursiva{
    font-style: italic;
}

img{
    border-radius: 5px;
}